/* <БЛОК "HEADER"> ==========================================================================================*/

header {

   background-color: $bg_color-1;
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;

   .header__container {}

   .header__body {
      padding: 3px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .header__logo {
         display: flex;
         align-items: center;
         padding: 0px 0px 0px 10px;

         .logo__icon {
            width: 25px;
            height: 25px;
         }

         .logo__text {
            font-size: 14px;
            font-weight: 700;
            padding: 0px 0px 0px 10px;
            z-index: 11;
            color: $text_color-1;
            line-height: 1px;
            letter-spacing: 0.5px;
         }
      }

      .header__menu {
         display: flex;
         align-items: center;

         .header-menu__list {
            display: flex;

            .header-menu__item-list {
               padding: 14px 10px;
               opacity: 0.8;
               color: $text_color-1;
               font-size: 14px;
               line-height: 17px;
               transition: all 0.3s ease 0s;

               &:hover {
                  opacity: 1;
               }
            }

            ._nav-span {
               color: $text_color-4;
            }
         }


      }


   }
}