/* <БЛОК "HEADER"> ==========================================================================================*/

.header {
   background-color: $bg_color-2;
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
}

.header__container {}


.header__navbar {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
   height: 40px;
}

.header__logo {
   display: flex;
   align-items: center;
   padding: 0px 0px 0px 10px;

   .logo__icon {
      width: 25px;
      height: 25px;
   }

   .logo__text {
      font-size: 14px;
      font-weight: 700;
      padding: 0px 0px 0px 10px;
      z-index: 11;
      color: $text_color-1;
      line-height: 1px;
      letter-spacing: 0.5px;
   }
}

.header__burger {}

.header__menu {
   display: flex;
   align-items: center;

}

.header__list {
   display: flex;
   gap: 20px;
   height: 100%;
}

.header__link {
   padding: 10px 0;
   color: $text_color-1;
   font-size: 14px;
   line-height: 17px;
   transition: all 0.3s ease 0s;
   width: 70px;
   text-align: center;

   &:hover {
      @include anim(0.4s, 0s);
   }
}

// Подсветка активной страници в меню
._activ-link {
   background-color: $text_color-5;
   border-radius: 5px 5px 0 0;
   color: $text_color-2;
   font-weight: 700;
}


/* < HTML - CSS "блока header" > ==========================================================================================*/

/*
// Общие стили для "header"
.header {}

// Преднастройка оббертки блока "header" (padding, margin ...)
.header__container {}

// Стили для строки навигации
.header__navbar {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
}

// Стили для логотипа
.header__logo {
   display: flex;
   align-items: center;

   .logo__icon {}

   .logo__text {}
}

// Стили для бургера
.header__burger {
   
}

// Стили для меню
.header__menu {
   display: flex;
   align-items: center;
}

// Стили для списка меню
.header__list {
   display: flex;
   gap: 20px;
   height: 100%;
}

// Стили для ссылки в меню
.header__link {

   &:hover {
      @include anim(0.4s, 0s);
   }
}

// Подсветка активной страници в меню
._activ-link {
   background-color: $text_color-5;
   border-radius: 5px 5px 0 0;
   color: $text_color-2;
   font-weight: 700;
}

=== HTML ====================================================================

<!--HEADER-->
<header class="header">
   <!-- Оббертки блока "header" -->
   <div class="header__container container">
      <!-- Строка навигации -->
      <div class="header__navbar">
         <!-- LOGO -->
         <a href="index.html" class="header__logo">
            <img src="./img/yellow-icon.png" alt="logo" class="logo__icon">
            <p class="logo__text">My Frontend Notebook</p>
         </a>
         <!-- BuRGER -->
         <div class="header__burger">
            <span></span>
         </div>
         <!--NAVIGATION-->
         <nav class="header__menu">
            <!-- Список навигации -->
            <div class="header__list">
               <!-- Ссылки навигации -->
               <a href="index.html" class="header__link _activ-link">Главная</a>
               <a href="./pages/page-html.html" class="header__link">HTML</a>
               <a href="#" class="header__link">CSS</a>
               <a href="#" class="header__link">JS</a>
               <a href="#" class="header__link">Шаблоны</a>
            </div>
         </nav>
      </div>
   </div>
</header>

*/