
.page-index {
   max-width: 735px;
   height: 85vh;
   position: relative;
   padding: 30px 30px 50px 30px;


   .page-index__text {
      margin: 15px 0px 50px 0px;

      .title span {
         position: relative;
         font-size: 36px;
         line-height: 43px;
         color: $text_color-3;
         font-weight: 700;
         background: $underline;
      }
   }

   .page-index__descr {
      margin: 18px 0px 0px 0px;
      font-size: 18px;
      line-height: 21px;
      color: $text_color-5;
   }

   .page-index__advantages {
      position: relative;
      z-index: 6;

      .page-index__list {
         display: flex;
         font-size: 0;
         justify-content: space-between;
         margin-top: 20px;
      }
   }

   .page-index__item {
      text-align: center;

      .page-index__item-text {
         font-size: 16px;
         line-height: 19px;
         color: $text_color-4;
         margin-left: -8px;
      }
   }

   .page-index__item img {
      width: 150px;
      height: 150px;
      margin-top: 20px;
   }

   .page-index__bg {
      position: absolute;
      width: 160%;
      height: 95%;
      top: 50px;
      left: -40px;
      z-index: -1;

      & img {
         vertical-align: top;
         width: 100%;
         height: 100%;
      }
   }
}