//<import>===============================================================================================
@import url("./nullstyle.css");
//</import>===============================================================================================

//<Набор цветов>===============================================================================================
$color-red: red;
//</Набор цветов>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================

$fontfamily: "";
$fontsize: 10px;
$fontcolor: #000;

//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>===================================================================================================

//<Набор цветов>=======================================================================================


//</Набор цветов>=======================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>==============================================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;

  &.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
  max-width: $mw+px;
  margin: 0 auto;
  width: 100%;

  @media (max-width:$md1+px) {
    max-width: 970px;
  }

  @media (max-width:$md2+px) {
    max-width: 750px;
  }

  @media (max-width:$md3+px) {
    max-width: none;
    padding: 0 10px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "_header.scss";
@import "_footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================


//</ОСНОВНОЙ БЛОК>====================================================================================================