@charset "UTF-8";
/*======== <Подключаем шрифты> ==============================================================================*/
@import url("https://fonts.cdnfonts.com/css/sf-ui-display?styles=16099,16100,16101,16097");
/* <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ> =============================================================================*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #6c6c6c;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: "SF UI Display", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.lock {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "SF UI Display", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* <ОБОЛОЧКА> ===============================================================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
/* <ОСНОВНАЯ СЕТКА> =========================================================================================*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/* <БЛОК "HEADER"> ==========================================================================================*/
.header {
  background-color: #5e5372;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 50;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 10px;
}
.header__logo .logo__icon {
  width: 25px;
  height: 25px;
}
.header__logo .logo__text {
  font-size: 14px;
  font-weight: 700;
  padding: 0px 0px 0px 10px;
  z-index: 11;
  color: #ebe691;
  line-height: 1px;
  letter-spacing: 0.5px;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header__link {
  padding: 10px 0;
  color: #ebe691;
  font-size: 14px;
  line-height: 17px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 70px;
  text-align: center;
}
.header__link:hover {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

._activ-link {
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
  color: #1d1d1f;
  font-weight: 700;
}

/* <"RESPONSIVENESS"> ==========================================================================================*/
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    line-height: 37px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: 37px;
    left: 0;
    background-color: #32b5a4;
    width: 100%;
    height: 100%;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    min-width: 25%;
    position: absolute;
    right: 20px;
  }
  .header__link {
    text-align: left;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    width: inherit;
  }
  ._activ-link {
    background-color: inherit;
    color: #5e5372;
    -webkit-box-shadow: 10px 7px 5px #413659;
            box-shadow: 10px 7px 5px #413659;
    border: 1px solid #413659;
  }
}
/* <БЛОК "FOOTER"> ==========================================================================================*/
.footer {
  padding: 10px 0;
  background: #5e5372;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__container a {
  color: #ebe691;
  font-size: 9px;
  letter-spacing: 1.2px;
  opacity: 0.9;
}

/* <БЛОК "MAIN"> ============================================================================================*/
.main {
  height: 100vh;
}
.main .main__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

/* <Content Start-Page> ============================================================================================*/
.page-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 735px;
  height: 475px;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 7px 5px #413659;
          box-shadow: 10px 7px 5px #413659;
  border: 1px solid #413659;
}
.page-main .page-index__text {
  margin: 0px 0px 32px 0px;
}
.page-main .page-index__text .title span {
  position: relative;
  font-size: 36px;
  line-height: 43px;
  color: #5e5372;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#ece89d), to(#ece89d)) 0 30px/100% 8px repeat-x;
  background: linear-gradient(90deg, #ece89d, #ece89d) 0 30px/100% 8px repeat-x;
}
.page-main .page-index__descr {
  margin: 18px 0px 0px 0px;
  font-size: 18px;
  line-height: 21px;
  color: #6c6c6c;
}
.page-main .page-index__advantages {
  position: relative;
  z-index: 6;
}
.page-main .page-index__advantages .page-index__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.page-main .page-index__item {
  text-align: center;
}
.page-main .page-index__item .page-index__item-text {
  font-size: 16px;
  line-height: 19px;
  color: #6c6c6c;
  margin-left: -8px;
}
.page-main .page-index__item img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
}
.page-main .page-index__bg {
  position: absolute;
  width: 160%;
  height: 95%;
  top: 50px;
  left: -40px;
  z-index: -1;
}
.page-main .page-index__bg img {
  vertical-align: top;
  width: 100%;
  height: 100%;
}

/* <Content HTML> ============================================================================================*/
/* <Content CSS> ============================================================================================*/
/* <Content JS> ============================================================================================*/
/* <Content Шаблоны> ============================================================================================*/